<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>直播</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
  <link rel="stylesheet" type="text/css" href="/css/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/flexible.js" type="text/javascript" ></script>
  <script src="/js/jquery.min.js" type="text/javascript" ></script>

</head>

<body>
<!--搜索-->
<div class="search">
  <input type="text" placeholder="搜索感兴趣的直播和视频"><i></i>
</div>
<!--轮播图-->
<div class="slider">
  <div class="swiper-container">
    <div class="swiper-wrapper" id="banner-box">
    </div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<!--快捷导航-->
<div class="quick-nav">
  <ul id="classIfyMenuBox">
  </ul>
</div>

<!--占位-->
<div class="holder"></div>
<!--热门推荐-->
<div class="hot">
  <div class="title">
    <div><i></i>热门推荐</div>
    <a>更多<i></i></a>
  </div>
  <ul id="hot-box">
  </ul>
</div>
<!--尾部导航-->
<div class="foot-nav">
  <ul>
    <li class="item home active">
      <i></i>
      <p>首页</p>
    </li>
    <li class="item cate">
      <i></i>
      <p>全部</p>
    </li>
    <li class="middle">

    </li>
    <li class="item news">
      <i></i>
      <p>资讯</p>
    </li>
    <li class="item mine" onclick="goMinePage()">
      <i></i>
      <p>我的</p>
    </li>
  </ul>
</div>
</body>

</html>
<script type="text/javascript" src="/js/home/banner.js"></script>
<script src="/js/swiper.min.js" type="text/javascript" ></script>
<script src="/js/home/classifyMenu.js" type="text/javascript" ></script>
<script src="/js/home/hot.js" type="text/javascript" ></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script type="text/javascript">
  // 导航切换高亮显示
  $('.foot-nav ul li.item').click(function() {
    $('.foot-nav ul li').removeClass('active')
    $(this).addClass('active')
  })


  function goMinePage(){
    location.href="/goMinePage"
  }


</script>