<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div id="player"></div>
</body>
<script src="http://cdn.jsdelivr.net/npm/xgplayer/browser/index.js"></script>
<script src="http://cdn.jsdelivr.net/npm/xgplayer-flv.js/browser/index.js"></script>
<script type="text/javascript">
    new window.FlvJsPlayer({
        id: 'player',
        isLive: false,
        playsInline: true,
        url: "http://192.168.103.148:8080/live/livestream.flv",
        autoplay: true,
        height: window.innerHeight,
        width: window.innerWidth
    })
</script>
</html>